body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background: #1a1610;
  color: #c2a878;
  display: flex;
  justify-content: center;
  align-items: flex-start; /* <- Cambiado para permitir scroll */
  min-height: 100vh; /* <- Reemplaza height por min-height */
  overflow-y: auto; /* <- Asegura scroll vertical */
  background-image: 
    linear-gradient(
      to bottom,
      rgba(58, 50, 33, 0.25) 86%,
      rgba(26, 22, 16, 1) 100%
    );
}

#noise {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.108;
  pointer-events: none;
}

.scene {
  text-align: center;
  padding: 20px;
  padding-top: 20px;
  max-width: 600px;
  transition: opacity 0.3s ease;
  position: relative;
}


@keyframes glitch {
  0% { transform: translateX(0); opacity: 5; }
  25% { transform: translateX(-5px); opacity: 0.1; }
  50% { transform: translateX(5px); opacity: 0.2; }
  100% { transform: translateX(0); opacity: 0; }
}

.scene img {
  max-width: 90%;
  height: auto;
  margin-bottom: 20px;
  border: 1px solid #8c7a5d; /* Ocre border */
  box-shadow: 0 0 15px #8c7a5d80; /* Ocre shadow with transparency */
  margin-top: 10px;
  filter: sepia(30%) contrast(110%); /* Adds weathered effect */
}

.options button {
  background: #3a3221; /* Dark ocre background */
  border: 1px solid #8c7a5d; /* Ocre border */
  color: #c2a878; /* Light ocre text */
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 4px;
  transition: all 0.3s ease;
  box-shadow: 0 0 5px #6b5c43; /* Dark ocre shadow */
  font-family: 'Roboto', sans-serif;
  text-shadow: 1px 1px 1px #1a1610; /* Dark shadow for text */
}

.options button:hover {
  background: #8c7a5d; /* Medium ocre */
  color: #1a1610; /* Very dark brown */
  transform: scale(1.05);
  box-shadow: 0 0 10px #6b5c43; /* Dark ocre shadow */
}

.options button:active {
  transform: scale(0.95);
  background: #6b5c43; /* Dark ocre */
  color: #e6d5b8; /* Light cream */
}

#mute-btn {
  position: fixed;
  top: 20px;
  right: 5px;
  background: #3a3221; /* Dark ocre background */
  border: 1px solid #8c7a5d; /* Ocre border */
  color: #c2a878; /* Light ocre text */
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;
  text-shadow: 1px 1px 1px #1a1610; /* Dark shadow for text */
}

#mute-btn:hover {
  background: #8c7a5d; /* Medium ocre */
  color: #1a1610; /* Very dark brown */
}
#scene p {
  font-family: 'Roboto', sans-serif;
}
.scene-final {
  animation: glitch 1s infinite;
}
@keyframes glitch {
  0% { filter: hue-rotate(0deg); }
  25% { filter: hue-rotate(90deg); }
  50% { filter: hue-rotate(180deg); }
  100% { filter: hue-rotate(360deg); }
}
p {
  font-size: 16px;
  margin-bottom: 1em;
}